@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

body{
    max-width: 1920px;
}

section{
    margin-bottom: 60px;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 35px 0;
}

.btn{
    display: block;
    padding: 15px 25px;
    border: 0;
    border-radius: 5px;
    background: #FF900E;
    color: 	#fff;
    font-size: 1rem;
    font-weight: 700;
}

/*NAv Section */

header{
    background: #faefe3;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo h1{
    font-size: 30px;
}
.nav-link ul{
    display: flex;
    gap: 40px;
}
.nav-link li{
    list-style: none;
    padding: 10px 15px;
    transition: all 0.7s;
    border-radius: 10px;
}
.nav-link li:hover{
    transform: scale(1.1);
    background-color: #424242;
}
.nav-link li:hover a{
    color: #fff;
}
.nav-link a{
    text-decoration: none;
    color: #424242;
}


.company-info{
    width: 70%;
    margin: 80px auto ;
}
 

.title{
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}
.company-info p{
    color: #727272;
    font-size: 12px;
    line-height: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.company-info .btn{
    display: block;
    margin: 0 auto;
}


.banner-img img{
    width: 100%;
}

/*Quick LIst Style */

.quick_list{
    display: flex;
    gap: 50px;
    padding: 10px;
    align-items: center;
}
.quick_list div{
    flex: 1;
}
.img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}
.img img{
    width: 100%;
}
.feature-title{
    font-size: 35px;
    width: 75%;
    margin-bottom: 20px;
}
.part-1{
    color: #727272;
    font-weight: 400;
}
.part-2{
    color: #FF900E;
    font-weight: 800;
}
.quick_info p {
    color: #727272;
    margin-bottom: 25px;
}

/*Feature list section */
.feature{
    display: flex;
    gap: 25px;
}

.feature-list h2{
    margin: 15px 0;
    width: 80%;
    font-size: 30px;
    padding-left: 15px;
    border-left: 5px solid #FF900E;
}

.feature-list p{
    font-size: 15px;
    margin: 10px 0;
    color: #727272;
}
.girl-img{
    width: 200%;
    position: relative;
}

.girl-img img{
    width: 100%;
    text-align: right;
}
.girl-img .btn{
    position: absolute;
    bottom: 0px;
    left: -32px;
    padding: 30px 20px;
}

.girl-img .btn h1{
    font-size: 30px;
}
.girl-img .btn h4{
    font-size: 13px;
    font-weight: 400;
}


.card{
    width: 90%;
    list-style: none;
    margin: 15px -15px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 40px -18px #424242;;
    transition: all 0.5s;
}

.card:hover{
    transform: scale(1.1);
}
.card h3{
    font-weight: 500;
}
.card p{
    font-size: 13px;
}

/*Fact Section */
.fact h2{
    margin-top: 80px ;
    font-size: 2rem;
}
.fact-title > p{
    color: #727272;
    margin-top: 30px ;
    margin-bottom: 3rem;
    font-size: 0.8rem;

}

.fact-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.fact-card{
    width: 50%;
    padding: 30px;
    border: 1px solid #FF900E;
    border-radius: 5px;
    transition: all 0.5s;
}
.fact-card:hover{
    transform: scale(1.1);
    background: rgb(213, 153, 153);
    color: #fff;
}
.fact-card:hover p{
    color: #fff;
}


.fact-card img{
    display: block;
    width: 50px;
    margin: 10px auto;
}

.fact-card h3{
    text-align: center;
}

.fact-card p{
    text-align: center;
    color: #727272;
    font-size: 0.8rem;
}


/* Sponsor */

.sponsor-info{
    margin: 40px auto;
    width: 40vw;
    text-align: center;
}
.sponsor-info h2{
    font-size: 30px;
}
.sponsor-info p{
    color: #727272;
    font-size: 14px;
    margin: 20px 10px;
}

.sponsor-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}


.sp-logo img{
    width: 100%;
    filter:grayscale() ;
   
}
/*Extra Section */
.review-header{
   font-family: 'Times New Roman', Times, serif;
    color: #6c6c6c;
}

.review textarea{
    resize: none;
    height: 80%;
    width: 90%;
    border-radius: 10px;
    border: 2px solid #807979;
    padding: 20px;
}



/*Footer*/

footer .container{
    border-radius: 6px;
    background: #ffecd4;
    margin-bottom: 150px;
}

footer p{
    color: #727272;
    text-align: center;
}

/*Responsive for mobile */
@media only screen and (max-width:576px){

    .container{
        width: 90%;
    }

    nav, .nav-link ul, .quick_list , .feature{
        flex-direction: column;
    }   
    .nav-link{
        align-self: flex-start;
    }
    .nav-link ul{
        gap: 0px;
        width: 70vw;
        padding: 0;
    }
    .nav-link li{
    padding: 1rem;

    }
    .nav-logo{
        margin-bottom: 20px;
    }
    .title{
        font-size: 26px;
    }

    .company-info{
        width: 100%;
        
    }

    .feature-title{
        font-size: 28px;
        text-align: center;
    }
    .feature-title, .btn{
        margin: 0 auto;
        
    }


    .feature-list p{
        padding:0 1rem;
    }
    .girl-img{
        
        width: 100%;
        
        margin: 0 auto;
    }
    .girl-img .btn{
        bottom: -50px;
        left: 0px;
    }


    .fact-cards{
        grid-template-columns: repeat(1, 1fr );
        grid-gap: 30px;
    }

    .sponsor-info{
        width: 95vw;
    }
    .sponsor-logo{
        flex-wrap: wrap;
        gap: 15px;
        justify-content: space-around ;
    }
    .sp-logo img{
        width:20vw ;
    }

}
@media screen and (min-width: 577px) and (max-width: 1200px) {
    .feature-list h2{
        margin: 15px 0;
        width: 468px;
        height: 53px;
        font-size: 30px;
        padding-left: 15px;
        border-left: 5px solid #FF900E;
    }
    
    .feature-list p{
        width: 586px;
        height: 78px;
        font-size: 15px;
        margin: 10px 0;
        color: #727272;
    }
    .girl-img{
        width: 708px;
        height: 982px;
        position: relative;
    }
    
    .girl-img img{
        width: 708px;
        height: 982px;
        padding-left: 50px;
        text-align: right;
    }
    .girl-img .btn{
        position: absolute;
        bottom: -50px;
        left: 50px;
        padding: 30px 30px;
    }
    
    .girl-img .btn h1{
        font-size: 30px;
    }
    .girl-img .btn h4{
        font-size: 13px;
        font-weight: 400;
    }
    
    
    .card{
        width: 586px;
        height: 171px;
        list-style: none;
        margin: 15px -15px;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 0 40px -18px #424242;;
        transition: all 0.5s;
    }

    
}











